//====================================================================================================

.page {
    background-color: $colorBlack;
    &__discover {
    }
    &__holiday {
    }
    &__culture {
    }
    &__bromo {
    }
}

//========================================================================================================================================================

.discover {
    background: url('@img/Background.jpg') center no-repeat fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    @media (max-height: em(456)){
          height: 100%;
    }
    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: rem(358);
        background: linear-gradient(360deg, #000000 14.99%, rgba(0, 0, 0, 0) 77.78%);
        bottom: 0;
        left: 0;
    }
    &__big-container {
        @include adaptiveValue("padding-top",287 ,70, 0, 1780, 320 );
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        @media (max-height: em(640)){
            overflow-y: scroll;   
        }
    }
    &__content{
        max-width: rem(950);
        margin: 0 auto;
        opacity: 0;
        transition: all 0.7s ease 1s;
        @media (max-width:$mobile){
             flex: 1 1 100%; 
             order: -1;
        }
    }
    &__follow {
        position: relative;
        z-index: 5;
        @include adaptiveValue("padding-top",60 ,0, 0, 1780, 320 );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 rem(25);
        transform: translateX(-200%);
        opacity: 0;
        transition: all 0.7s ease 0.5s;
    }
    &__text {
        writing-mode: vertical-lr;
        margin-bottom: rem(20);
        font-weight: 600;
        @include adaptiveValue("font-size", 18, 14);
        line-height: math.div(25 ,18 );
    }

    &__icon-link {
        @include adaptiveValue("font-size", 24, 18);
        transition: all 0.3s ease 0s;
        padding: rem(5) rem(0) ;
        @media (any-hover: hover){
            &:hover{
                color: $colorOrange;
            }
        }
    }
    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 96,36 );
        line-height: math.div(100 , 96);
        margin-bottom: em(126,96);
        span {
            font-weight: 700;
        }
    }
    &__scroll {
        text-align: center;
        position: relative;
        z-index: 3;
        a {
            cursor: pointer;
            transition: all 0.3s ease 0s;
            position: relative;
            padding-right: rem(25);
            font-weight: 600;
            opacity: 0.6;
            @include adaptiveValue("font-size", 18, 14);
            line-height: math.div(25 , 18);
            &::before{
                content: '';
                position: absolute;
                opacity: 0.6;
                transition: all 0.3s ease 0s;
                right: 0;
                bottom: 0;
                width: rem(16);
                height: rem(24);
                background: url(@img/icons/arrow_downward_24px.svg) no-repeat center;
            }
            @media (any-hover: hover){
                &:hover{
                    opacity: 1;
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//====================================================================================================

.holiday {
    @include adaptiveValue("padding-bottom", 250, 40);
    &._watcher-view{
        .holiday__photo{
            animation: slide-rotate-hor-b-bck 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; 
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$mobile){
             flex-wrap: wrap; 
        }
    }
    &__photo {
        min-width: 300px;
        position: relative;
        padding-bottom: percent(720,1460);
        width: percent(598,1460);
        transform: translateY(150px) rotateX(90deg);
        z-index: 0;
        img{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
        @media (max-width:$mobile){
            flex: 1 1 100%;
            margin: rem(20) rem(-15);
            position: static;
            width: 100%;
            padding-bottom: 0;
            img{
                position: static;
                width: 100%;
                height: auto;
            }
        }
    }
    &__body {
        max-width: rem(632);
        flex: 0 1 50%;
        padding: rem(10);
        @media (max-width:$mobile){
             flex: 1 1 100%;
             order: -1; 
        }
    }
}

@keyframes slide-rotate-hor-b-bck {
    0% {
        transform: translateY(150px) rotateX(90deg);
        transform: translateY(150px) translateZ(-230px) rotateX(90deg);
        transform-origin: bottom center;
        transform-origin: bottom center;
    }
    100% {
        transform: translateY(0) rotateX(0deg);
        transform-origin: bottom center;
        transform-origin: bottom center;
    }
}

//========================================================================================================================================================

.bromo {
    @include adaptiveValue("padding-bottom", 250, 40);
    &__slider {
        position: relative;
        @media (max-width:$mobile){
            margin: 0 -15px;     
        }
    }
    &__slide {
        position: relative;
    }
    &__image {  
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__body {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
        position: absolute;
        @include adaptiveValue("height",percent(55,1) , percent(90,1));
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        overflow: visible;
        @media (max-width:$mobile){
             position: static; 
             padding-top: rem(25);
        }
    }
    &__subtitle {
        display: inline-block;
        letter-spacing: 6px;
        font-weight: 700;
        @include adaptiveValue("font-size", 18, 13);
        line-height: math.div(25 , 18);
        color: $colorOrange;
        padding: 0 rem(101);
        position: relative;
        &::after,
        &::before{
            position: absolute;
            content: '';
            width: rem(72);
            height: rem(2);
            background-color: $colorOrange;
            top: 50%;
            transform: translateY(50%);
        }
        &::after{
            left: 0;
        }
        &::before{
            right: 0;
        }
    }
    &__title {
        max-width: rem(705);
        margin: 0 auto em(27,64) auto;
        font-weight: 700;
        @include adaptiveValue("font-size", 64, 25);
        line-height: math.div(87 , 64);
    }
    &__text {
        max-width: rem(934);
        margin: 0 auto em(39,18) auto;
        font-weight: 600;
        @include adaptiveValue("font-size", 18, 13);
        line-height: math.div(32 , 18);
    }
    &__btn{
        padding-bottom: rem(20);
    }
    &__control {
        font-size: rem(19);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 5;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width:$mobile){
             display: none; 
        }
    }
    &__swiper-button-prev {
        transform: rotate(180deg);
        @include adaptiveValue("margin-left",50 , 10);
    }
    &__swiper-button-next {  
        @include adaptiveValue("margin-right",50 , 10); 
    }
    &__swiper-pagination{
        position: absolute;
        width: 100%;
        top: 10px; 
        display: flex;
        justify-content:center;
        align-items: center;
    }
}
.swiper-pagination-bullet{
    margin: 0 rem(10) 0 0;
    width: rem(10);
    height: rem(10);
    display: inline-block;
    border-radius: 50%;
    background: $colorBlack;
    opacity: 0.4;
    transition: all 0.3s ease 0s;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}

.culture {
    @include adaptiveValue("padding-bottom", 250, 40);
    &._watcher-view{
        .culture__photo{
            transform: translate(0);
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$mobile){
            flex-wrap: wrap; 
        }
    }
    &__body {
        max-width: rem(632);
        flex: 0 1 50%;
        padding: rem(10);
        @media (max-width:$mobile){
            flex: 1 1 100%;
            order: -1; 
        }
    }
    &__photo {
        min-width: 300px;
        position: relative;
        padding-bottom: percent(720,1460);
        width: percent(598,1460);
        z-index: 0;
        transition: all 0.4s ease 0s;
        transform: translateX(500%);
        img{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
        @media (max-width:$mobile){
            flex: 1 1 100%;
            margin: rem(20) rem(-15);
            position: static;
            width: 100%;
            padding-bottom: 0;
            img{
                position: static;
                width: 100%;
                height: auto;
            }
        }
    }
}
//========================================================================================================================================================
 