@use "sass:math";

// Соединение миксов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Соединяющие шрифты ===========================================================================================================================================================================================================================================================================
//&display=swap - Добавьте при подключении через плагин

// Подключитесь, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение шрифтов значков ==============================================================================================================================================================================================================================================================================
// Подключите, если есть файл шрифта значка
@import "fonts/icons";
 

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "open";
$fontSize: rem(18); // тоже 14(px) - Размер шрифта по умолчанию из макета

// Основні кольори
$mainColor: #ffff; // Цвет шрифта по умолчанию
$colorBlack: #000;
$colorOrange: rgba(255, 193, 120, 1);

// Адаптировать адаптивную сетку ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина холста (макет)
$maxWidth: 1920;
// Ширина контейнера ограничения (0 = Нет ограничений)
$maxWidthContainer: 1460;
// Общее отступление из контейнера
// (30 = по 15px Лево и право, 0 = Нет отступления)
$containerPadding: 30;
// ширина первого Breikpoint
$containerWidth: $maxWidthContainer + $containerPadding;

//Перерыв
$pc: em($containerWidth); // ПК, ноутбуки, некоторые таблетки в горизонтальном положении
$tablet: em(991.98); // Таблетки, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Адаптируемый тип:
// 1 = отзывчивость (контейнер не имеет точек останова),
// 2 = по точке разрыва (контейнер меняет ширину на точку разрыва)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Вверх ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

//Fontawesome
//@import 'libs/fontAwesome/fontawesome'; 

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
// сайт загружен!
html {
	&.loaded {
		.header{
			transform: translate(0);
		}
		.discover{
			&__follow{
				transform: translate(0);
				opacity: 1;
			}
			&__content{
				opacity: 1;
			}
		}
		.className{}   // имя класса для которого ловим onLoad
	}
}
body {
	// свиток заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Обертка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-weight: 400;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Мы нажимаем нижний колонтитул
	> main {
		flex: 1 1 auto;
	}
	// Исправлена ​​ползунки
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применены к
все классы, содержащие *__container
К примеру header__container, main__container и т.п.
Фрагмент (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Контрольные точки
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Соединение основных стилей, шаблонов (заготовки) и вспомогательных классов
// для подключения/отключения конкретных стилей см. Base.scss
@import "base";

// Соединение стилей отдельных блоков
@import "header";
@import "footer";

//comon
._logo {
	font-weight: 700;
	font-size: rem(24);
	line-height: math.div(33 , 24);
	letter-spacing: 0.01em;
	text-transform: capitalize;
}
._big-container{
	max-width: 1780px;
	padding: 0 rem(15);
	margin: 0 auto;
}
._subtitle {
	font-weight: 700;
    @include adaptiveValue("font-size",18 ,15 );
    line-height: math.div(25 , 18);
    @include adaptiveValue("padding-left",104,30 );
    color: $colorOrange;
    text-transform: uppercase;
    position: relative;
    @include adaptiveValue("margin-bottom", 27, 10);
    &::after{
        content: '';
        position: absolute;
        width: 8%;
        height: rem(2);
        background-color: $colorOrange;
        left: 0;
        top: 50%;
    }
}
._title {
	font-weight: 700;
	@include adaptiveValue("font-size",64 ,26 );
	line-height: math.div(87 , 64);
	margin-bottom: em(27,64);
	max-width: rem(555);
}

._text {
	font-weight: 600;
	@include adaptiveValue("font-size", 18,14 );
	line-height: math.div(32 , 18);
	margin-bottom: em(27,32);
}

._more-btn {
	font-weight: 700;
	@include adaptiveValue("font-size", 18,14 );
	line-height: math.div(25 , 18);
	color: $colorOrange;
	padding-right: rem(33);
	position: relative;
	transition: all 0.3s ease 0s;
	&:hover{
		opacity: 0.8;
		&::after{
			right: -10px;
		}
	}
	&::after{
		content: '';
		position: absolute;
		width: rem(24);
		height: rem(16);
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s ease 0s;
		background: url('@img/icons/arrow-right.svg') center no-repeat;
	}
}


// Соединение стилей отдельных страниц
@import "home";
